{% extends 'edits/base.html' %}
{% load static %}


{% block content %}

<div class="act_content w-75 m-auto my-4">
  <div class="title_bar d-flex ">
    <h1>ABOUT US</h1>
    <a href="/">
      <button type=" button" class="btn btn-secondary">Back</button>
    </a>
  </div>
  <hr>

  <!-- ////////////// -->

  <div style="text-align: justify;">
    <h4 style="color: dodgerblue;">What is Prout</h4>
    <hr>
    <p>PROUT is an acronym for the Progressive Utilization Theory. Conceptualized in 1959 by Indian Philosopher Shrii
      Prabhat Ranjan Sarkar, PROUT is a viable alternative to the outmoded capitalist and communist socio-economic
      paradigms.
      Neither of these approaches has adequately met the physical, mental and spiritual needs of humanity. PROUT seeks a
      harmonious balance between economic growth, social development and cultural expression.</p>
    <p>Combining the wisdom of spirituality, the struggle for self-reliance, and the spirit of economic democracy,
      Proutist intellectuals and activists are attempting to create a new civilizational discourse. PROUT newsmagazine
      aims at conveying comprehensive and visionary goals of PROUT Philosophy.</p>
    <p>PROUT magazine invites scientists, economists, politicians, artists, intellectuals and others to join us in the
      creation of a new, spiritually bonded society by propagating and popularising unambiguous elevating thoughts.
      Through Proutistic views and Neo Humanistic analysis, it strives to serve as beacon for the benighted civilization
      of our times.</p>


    <h4 class="mt-4" style="color: dodgerblue;">Main principles of PROUT and Neo-Humanism</h4>
    <hr>

    <p><b>Neo-humanism :</b> Neo-humanism expands the humanistic love for all human beings to include love and
      respect for all creation - plants, animals and even inanimate objects. Neo-humanism provides a philosophical
      basis for creating a new era of ecological balance, planetary citizenship and cosmic kinship.</p>

    <p><b>Basic Necessities Guaranteed To All :</b> People can not strive toward their highest human aspirations if
      they are lacking the basic requirements of life. PROUT believes that access to food, shelter, clothing,
      education and medical care are fundamental human rights which must be guaranteed to all.</p>

    <p><b>One Balanced Economy :</b> Prout advocates regional self-reliance, cooperatively owned and managed
      businesses, local control of large scale key industries, and limits on the individual accumulation of
      excessive wealth.</p>

    <p><b>Women's Right :</b> PROUT encourages the struggle against all forms of violence and exploitation used to
      suppress women. PROUT's goal is coordinated cooperation, with equal rights between men and women.</p>

    <p><b>Cultural Diversity :</b> In the spirit of universal fellowship PROUT encourages the protection and
      cultivation of local culture, language, history and tradition.</p>

    <p><b>World Government :</b> PROUT supports the creation of world government with a global constitution and a
      common penal code.</p>

  </div>





  {% endblock %}