{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include 'base/css.html' %}

</head>

<body>

  <div class=" container my-4 d-flex justify-content-center text-white "
    style="background-color: #008080; height: 30px; line-height: 30px;">
    <p style="font-size: 12px;">&copy;Copyrights@proutjournal.com. All Rights Reserved.</p>
  </div>
  {% include 'base/js.html' %}
</body>

</html>